
    .body {
      
    }
        @font-face {
        font-family:Inter;
        src: url(Inter-VariableFont_slnt\,wght.ttf);
        font-size:small;
        }
    
    .header_container{
        display: flex;
        flex-direction: row;
        align-content:space-between;
        align-items:center;
        column-gap: 70%;
        margin: 40px 20px 20px 40px;
        padding: 10px;
        border: 10px;

    }

    .links_header{
        display: flex;
        flex-direction: row;
        align-items:center;
        justify-items: center;
        align-content:space-around;
        justify-content: space-around; 
        font-family: Inter; 
        
    }
  
    .box_concept_text {
        font-family: Inter; 
        width: 80%;
        height: 300px;
        margin: 0px;
        padding: 10px;
        border: 10px;
    }
    
    .email {
        width: 235px;
        height: 35px;
        margin: 3px;
        border-radius:  3px;
   }

   .button{
        margin: 5px;
        width: 155px;
        height: 39px;
        color:white;
        border-radius: 3px;
        background-color:rgb(1, 111, 255);
        border: 3px solid rgb(1, 111, 255);
        text-align: center;
        -webkit-transition-duration: 0.4s; 
        transition-duration: 0.4s;
   }
   
   .button:hover {
    background-color: rgb(63, 146, 255);
    border: 3px solid rgb(63, 146, 255);
    }
    
    .box_illustration-1{
        width: 80%;
        height: 100%;
        padding: 10px;
        border: 10px;
        margin: 0px;  
    }
    
    .illustration-1 {
        width: 80%;
        height: 100%;
        margin: 10px;
        padding: 10px;
        border: 10px;
    }

    .fylo_concept_container {
        display: flex;
        flex-direction: row;
        align-items:center;
        justify-content: space-between;
        padding: 10px;
        border: 10px;
        margin: 30px;        
    }
    
    
   .curve{
    width: 100%;
   }
   
   .title2{
      margin: 0px;
   }
   
   .how_fylo_works_container{
    display: flex;
    width: 100%;
    height: 800px;
    height: fit-content;
    background-color: #F9F8FE;
    flex-direction: row;
    align-items:center;
    justify-content: space-between;
    padding: 10px #F9F8FE;
    border: 10px #F9F8FE;
    margin: 30px #F9F8FE; 
    margin-bottom: 20px #F9F8FE; 

   }
   
   .how_fylo_works_text{
    font-family: Inter;
    background-color: #F9F8FE;
    display: flex;
    flex-direction: column;
    width: 80%;
    height: -3px;
    margin-left: 40px;
    padding: 10px;
    border: 10px;
    
   }

   .box_illustration2{
        width: 80%;
        height: 100%;
        padding: 10px;
        border: 10px;
        margin: 0px;  
   }
   
   .illustration-2{
    width: 80%;
    height: 100%;
    margin: 10px;
    padding: 10px;
    border: 10px;
    filter: opacity(1);
   }

   .icon-arrow{
    font-size: 15px;
    height: 15px;
    width: 15px;
   }
   .how_fylo_works_link_and_icon-arrow{
    display: flex;
    flex-direction: row;
   }

   .kyle_container {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-content:flex-start;
    padding: 20px;
    margin: 0px;
    border: 10px;
    height: 180px;
    width: 350px;
    background-color:white;
    box-shadow: 0px 0px 5px 1px rgb(209, 203, 203);
    border-radius: 4px;
    
   }
   
   .kyle_photo{
     height: 40px;
     width: 40px;
     border-radius:20px 20px 20px 20px;
   }

  .kyle_textandphoto {
    display: flex;
    flex-direction: row;
    width: 200px;
    height: 80px;
    margin: 0px;
    padding: 4px;
    border: 4px;
    
  }

  .get_access_container {
    font-family: Inter;
    display:flex;
    flex-direction: row;
    column-gap: 24%;
    align-items:center;
    justify-content: center;
    background-color: #575989;
    color: white;
    width: 100%;
    height: 230px;
  }

  .email{
    width: 400px;
  }

  .getstartet_button_and_text{
    display: flex;
    flex-direction: column;
  }

  .footer_container {
    font-family: Inter;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items:center;
    background-color: #07043B;
    color: white;
    height: 250px;
    width: 100%;
    
  }

  .info_footer{
    display: flex;
    flex-direction: column;
    margin-left: -80px;
  }
  .logof{
    filter:invert(100%) brightness(100%);
  }


  .info_footer_nets{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content:space-around;
  }

  .facebooklogo{
      height: 20px;
      width: 20px;
      border-radius:20px 20px 20px 20px;
  }

  .twitterlogo{
      height: 20px;
      width: 20px;
      border-radius:20px 20px 20px 20px;
  }

  .instagramlogo{
      height: 20px;
      width: 20px;
      border-radius:20px 20px 20px 20px;
  }
  
  .info_footer_nets{
    display: flex;
    align-content:space-around;
  }